 {% extends 'base.html.twig' %}


  {% block body %}
  <h1>Inscription sur le site</h1>

  {{ form_start(form) }}
    {{ form_row(form.username, { 'label': 'Nom d\'utilisateur', 'attr': {'placelholder':  'Nom d\'utilisateur'}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit"  class="btn btn-success">Inscription</button>


  {{ form_end(form) }}
{% endblock %} 