{% extends 'base.html.twig' %}

{% block body %}

<article>
<h2>{{ article.title}}</h2>
 <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/y')}} à {{ article.createdAt | date('H:i ')}} dans la catégorie politique </div>
<div class="content">
  <img src="{{ article.image}}"  alt="">
    <p>{{ article.content | raw}} </p>
</div>
 </article>

{% endblock %}